<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head">
<meta charset="utf-8">
<link th:href="@{css/bootstrap.min.css}" rel="stylesheet">
<link th:href="@{css/fontawesome.min.css}" rel="stylesheet">
<link th:href="@{css/solid.min.css}" rel="stylesheet">
</head>
<body>
	<header th:replace="layout/layout :: header"></header>
	<main>
		<section class="bg-light">
			<div class="container ">
				<div align="center" class="py-3 text-center">
					<img src="../images/pet-shop.png" class="img-fluid" alt=""
						width="250" height="250">
				</div>

				<div class="row ">

					<div class="px-3 py-3 text-center ">
						<div class="card">
							<div class="card-body">
								<div class="table table-responsive">
									<br></br>
									<button  class="btn btn-warning "
										type="submit">
										<i class="fas fa-cart-plus"> Add</i>
									</button><br></br>
									<h1>List of Products</h1>
									<table class="table table-info table-striped table-hover">
										<thead>
											<tr>
												<th>Id</th>
												<th>Name</th>
												<th>Price</th>
												<th>Quantity</th>
												<th>Amount</th>
												<th>Delete</th>
											</tr>
										</thead>
										<tbody>
											<tr th:each="producto : ${productos}">
												<th th:text="${producto.idProducto}">.</th>
												<th th:text="${producto.nombreProducto}">.</th>
												<th th:text="${producto.precioProducto}">.</th>
												<th th:text="${compra.cantidad}">.</th>
												<th th:text="${producto.precioProducto*compra.cantidad}">.</th>
												<td>
													<button style="margin-left: 25px" class="btn btn-warning"
														type="submit">
														<i class="far fa-trash-alt"> Delete</i>
													</button>
												</td>
											</tr>
										</tbody>
									</table>
									<br></br>
									<form id="formCompra" th:objec="${compraDelForm}"
										th:action="@{/addpurchase}" method="post">
										<button style="margin-left: 25px" class="btn btn-warning"
											type="submit">
											<i class="fas fa-money-bill-wave"> Make Purchase</i>
										</button>
										<button style="margin-left: 25px" class="btn btn-warning"
											type="submit">
											<i class="fas fa-window-close"> Cancel Purchase</i>
										</button>
									</form>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
	</main>

	<footer th:replace="layout/layout :: footer"></footer>
	<script th:src="@{/js/bootstrap.bundle.min.js}"></script>
</body>
</html>