<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head">
</head>
<body>
	<header th:replace="layout/layout :: header"></header>

	<main>
		<section class="bg-light">
			<div class="container ">
				<div class="row">
					<div class="col-lg-6 py-5 text-center ">
						<img src="../images/vet.png" class="img-fluid" alt="">
					</div>
					<div class="col-lg-6 py-5 text-center">
						<h3 class="text-black py-5">Information of the vet</h3>
						<p class="text-center">ira</p>
						<p class=" text-center">los datos</p>
						<p class=" text-center">cuando</p>
						<p class=" text-center">funcione</p>
						<a href="#" class="btn btn-danger">Create Citation</a> <a href="#"
							class="btn btn-danger">View Products</a> <a href="/vets/search1"
							class="btn btn-danger">Return</a>
					</div>

				</div>
			</div>

		</section>
	</main>

	<footer th:replace="layout/layout :: footer"></footer>
	<script th:src="@{/js/bootstrap.bundle.min.js}"></script>
</body>
</html>