	<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head">
</head>
<body>
	<header th:replace="layout/layout :: header"></header>

	<main>
		<section class="bg-light">
			<div class="container py-3 ">
				<h2>Vet Information:</h2>
				<div class="row">
					<div class="col-lg-6 py-5 text-center ">
						<img src="../images/vet.png" class="img-fluid" alt="">
					</div>
					<div class="col-lg-6 py-5 text-center">
						<h2 class="text-black text-center"
							th:text=" ${vet.nombreVeterinaria}">.</h2>
							<br></br>
						<p class="card-text text-ce	nter"
							th:text=" 'Vet Description: ' + ${vet.descripcionVeterinaria}">.</p>
						<p class="card-text text-ce	nter"
							th:text=" 'Vet Direction: ' + ${vet.direccionVeterinaria}">.</p>
						<p class="card-text text-ce	nter"
							th:text="'Vet Number: ' + ${vet.numeroVeterinaria}">.</p>
						<a href="/appointments/new" class="btn btn-info">Appointment</a> <a href="/products/search2"
							class="btn btn-info">Products</a> <a href="/"
							class="btn btn-danger">Exit</a>
					</div>
				</div>
			</div>

		</section>

	</main>

	<footer th:replace="layout/layout :: footer"></footer>
	<script th:src="@{/js/bootstrap.bundle.min.js}"></script>
</body>
</html>