<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head">
</head>
<body>
	<header th:replace="layout/layout :: header"></header>

	<main>
		<section class="bg-light">
			<div class="container ">
				<div class="row">
					<div class="col-lg-6 py-5 text-center ">
						<img src="../images/vet1.jpg" class="img-fluid" alt="">
					</div>
					<div class="col-lg-6 py-5 text-center">
						<h2 class="text-black py-5">Search Vet</h2>

						<form class="d-flex" th:action="@{/search/vets}"
							th:object="${vetSearch}" method="get">
							<input class="form-control me-2" type="search"
								th:field="*{nombreVeterinaria}" placeholder="Search Vets"
								aria-label="Search">
							<button class="btn btn-warning" type="submit">
								<i class="fas fa-search"></i>
							</button>
						</form>
						<br></br>
						<form class="d-flex" th:action="@{/search/vets/distrit}"
						 th:object="${vetDistritSearch}" method="get">
							<input class="form-control me-2" type="search"
							   th:field="*{direccionVeterinaria}" placeholder="Search Vets Distrit"
								aria-label="Search">
							<button class="btn btn-warning" type="submit">
								<i class="fas fa-search"></i>
							</button>
						</form>
						<br></br>
						<a class="btn btn-warning" href="/" type="submit">
								<i >Return</i>
							</a>
					</div>
				</div>
			</div>

		</section>
		
				<h2 class="text-center">Vets List</h2>
				<div class="row" style="margin: 20px;">
			<div th:each="vet : ${veterinarias}" class="col-sm-2">
				<div class="card">
					<div class="card-body">
						<div class="text-center ">
							<img src="../images/vet.png" class="img-fluid" alt="">
						</div>
						<h5 class="card-title text-center" th:text=" 'Vet Name: ' + ${vet.nombreVeterinaria}">.</h5>
						<p class="card-text text-ce	nter" th:text=" 'Vet Description: ' + ${vet.descripcionVeterinaria}">.</p>
						<p class="card-text text-ce	nter" th:text=" 'Vet Direcction: ' + ${vet.direccionVeterinaria}">.</p>
						<a th:href="@{'/vets/' + ${vet.idVeterinaria}}" class="btn btn-info btn-lg">View Details</a>
					</div>
				</div>
			</div>
		</div>
	</main>

	<footer th:replace="layout/layout :: footer"></footer>
	<script th:src="@{/js/bootstrap.bundle.min.js}"></script>
</body>
</html>