<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head">
</head>
<body>
	<header th:replace="layout/layout :: header"></header>
	<main>
		<section class="bg-light">
			<div class="container py-3 ">
				<h2>Appointment details:</h2>
				<div class="row">
					<div class="col-lg-6 py-5 text-center ">
						<img src="../images/cardCita.jpg" class="img-fluid" alt="">
					</div>
					<div class="col-lg-6 py-5 text-center">
						<h2 class="text-black text-center" th:text=" 'APPOINTMENT CODE: ' +${appointment.id}">.</h2>
						<br></br>
						<h4 class="card-text text-center"
							th:text="'Veterinary Name: ' +${appointment.veterinario.nombre}">.</h4>
						<h4 class="card-text text-center"
							th:text="'Pet Name: ' + ${appointment.mascota.nombre}">.</h4>
						<h4 class="card-text text-center"
							th:text="'Date: ' +${appointment.fecha}">.</h4>
						<h4 class="card-text text-center"
							th:text="'Price: S/.' +${appointment.precio}">.</h4>
						<h4 class="card-text text-center"
							th:text="'Reason: ' +${appointment.razon}">.</h4>
							
						<a th:href="@{'/appointments/' + ${appointment.id} + '/edit'}" class="btn btn-info btn-lg">Edit Appointment</a>
						<a th:href="@{'/appointments/' + ${appointment.id} + '/virtualconsult'}" class="btn btn-success btn-lg">Consulta virtual</a>
						
						<a href="" class="btn btn-danger btn-lg">Cancel Appointment</a>  
					</div>
				</div>
			</div>

		</section>

	</main>

	<footer th:replace="layout/layout :: footer"></footer>
	<script th:src="@{/js/bootstrap.bundle.min.js}"></script>
</body>
</html>