<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head">
</head>
<body>
	<header th:replace="layout/layout :: header"></header>

	<main>
		<section class="bg-light">
			<div class="container">
				<div class="row">
					<div class="col-lg-6 py-5 text-center ">
						<img width=60% height=50% src="../images/appointment.png" class="img-fluid" alt="">
					</div>
					<div class="col-lg-6 py-5 text-center">
						<h2 class="text-black py-5">Search Appointment</h2>

						<form class="d-flex" th:action="@{/search/appointments}"
							th:object="${appointmentSearch}" method="get" >
							<input class="form-control" type="search"
								  th:field="*{fecha}" placeholder="Search Appointments By Date (dd-MM-yyyy)"
								aria-label="Search">
							<button class="btn btn-warning" type="submit">
								<i class="fas fa-search"></i>
							</button>
						</form>
						
						<br></br>
						<a class="btn btn-warning btn-lg" href="/" type="submit">
								<i >Go to Home Page</i>
						</a>
					</div>
				</div>
			</div>
			
		</section>
		
		<h2 class="text-center">Appointment List</h2>
		<div class="row" style="margin: 25px;">
			<div th:each="appointment : ${appointments}" class="col-sm-4">
				<div class="card text-center border-success" style="width: 35rem;">
					<div class="card-body">
						<div class="text-center ">
							<img src="../images/cardCita.jpg" class="img-fluid" alt="">

						</div>

						<h3 class="card-title text-center" th:text=" 'APPOINTMENT CODE: ' + ${appointment.id}"></h3>
						<h4 class="card-text text-left" th:size="4" th:text=" 'Veterinary Name: ' + ${appointment.veterinario.nombre}"></h4>
						<h4 class="card-text text-left" th:text=" 'Pet Name: ' + ${appointment.mascota.nombre}"></h4>
						<a th:href="@{'/appointments/' + ${appointment.id}}" class="btn btn-info btn-lg" >View Details</a>
					</div>
				</div>
			</div>
		</div>
	</main>
	<footer th:replace="layout/layout :: footer"></footer>
	<script th:src="@{/js/bootstrap.bundle.min.js}"></script>
</body>
</html>