.navbar  {
    box-shadow: 2px 2px 5px #0D88F5;
    opacity: .9;
}
.navbar .nav-item .nav-link
{
    color: black;
}
.main\.header
{
    font-size: 22px;
    display: flex;
    align-items: center;
    background: url("../images/veterinarios.jpg");
    background-size: 100% 100%;
    width: 100%;
    height: 600px;
    padding-top: 100px;
    padding-left: 80px;

}
.Features
{
    background: #0D88F5;
    padding: 25px;
}
.Contact
{
    padding: 25px;
}
.Contact
{
    padding: 25px;
}
.Button1
{
    display: inline-block;
    color: black;
    margin-top: 5px;
}
body
{
    font-family: 'Agency FB', arial;
}
.main\.header a
{
    display: inline-block;
    margin-top: 5px;
    padding: 10px 10px;
    color: black;
    font-weight: 500;
}
.Pricing
{
    padding: 20px;
}
.Titulo
{
    background: gainsboro;
    padding: 5px;
}
footer
{
    width: 100%;
    background: black;
    color: white;
    padding-top: 20px;
}
.container-general
{
    width: 100%;
    max-width: 1400px;
}
.container-info
{
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-size: 15px;
    color: #C7C7C7;
    padding-top: 10px;
}
.column1
{
    max-width: 400px;
}
.column1 h3
{
    font-size: 22px;
}
.row1
{
    margin-top: 20px;
    display: flex;
}
.row1 img
{
    width: 35px;
    height: 35px;
}
.row1 label
{
    margin-top: 5px;
    margin-left: 5px;
    color: #C7C7C7;
}
.column2
{
    max-width: 250px;
}
.column2 h3
{
    font-size: 22px;
}
.row2
{
    margin-top: 20px;
    display: flex;
}
.row2 img
{
    width: 35px;
    height: 35px;
}
.row2 label
{
    margin-top: 5px;
    margin-left: 5px;
    color: #C7C7C7;
}
.container-footer
{
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-size: 15px;
    color: #C7C7C7;
    padding-top: 10px;
}
 @media screen and (max-width: 500px)
 {
     .container-info
     {
         flex-wrap: wrap;
     }
     .container-footer
     {
         flex-wrap: wrap;
     }
 }